{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier/@typescript-eslint",
        "plugin:prettier/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 2018,
        "ecmaFeatures": {
            "jsx": true
        },
        "sourceType": "module"
    },
    "rules": {
        // Place to specify ESLint rules.
        // Can be used to overwrite rules specified from the extended configs
        "@typescript-eslint/explicit-function-return-type": "off"
    },
    "overrides": [
        {
            // enable the rule specifically for TypeScript files
            "files": ["*.ts", "*.tsx"],
            "rules": {
                "@typescript-eslint/explicit-module-boundary-types": ["error"]
            }
        }
    ],
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "ignorePatterns": ["*.config.js"]
}
